amqp==5.3.1
asgiref==3.11.1
billiard==4.2.4
celery==5.6.2
certifi==2026.2.25
charset-normalizer==3.4.4
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
django==6.0.2
djangorestframework==3.16.1
factory-boy==3.3.3
faker==40.5.1
flower==2.0.1
gunicorn==25.1.0
humanize==4.15.0
idna==3.11
kombu==5.6.2
packaging==26.0
prometheus-client==0.24.1
prompt-toolkit==3.0.52
pytelegrambotapi==4.31.0
python-dateutil==2.9.0.post0
pytz==2025.2
pyyaml==6.0.3
redis==7.2.1
requests==2.32.5
responses==0.26.0
six==1.17.0
sqlparse==0.5.5
tornado==6.5.4
tzdata==2025.3
tzlocal==5.3.1
urllib3==2.6.3
vine==5.1.0
wcwidth==0.6.0
