global
    log stdout format raw local0 debug
    maxconn 10000
    user haproxy
    group haproxy
    nbthread 2
    tune.ssl.default-dh-param 2048
    tune.bufsize 65536
    tune.maxrewrite 32768
    tune.ssl.cachesize 50000

defaults
    log global
    option tcplog
    option dontlognull
    option redispatch
    option tcp-smart-accept
    option tcp-smart-connect
    timeout client 30s
    timeout server 30s
    timeout connect 5s
    timeout http-keep-alive 10s
    timeout queue 5s
    retries 3

frontend https-in
    mode tcp
    bind :443

    tcp-request inspect-delay 5s
    tcp-request content accept if { req_ssl_hello_type 1 }

    acl sni_space_site req_ssl_sni -i space.beatvault.ru
    acl sni_beatvault req_ssl_sni -i beatvault.ru

    use_backend nginx-ssl if sni_space_site
    use_backend haproxy-nl if sni_beatvault

    default_backend nginx-ssl

frontend http-in
    mode http
    bind :80

    acl is_certbot path_beg /.well-known/acme-challenge/
    use_backend certbot-backend if is_certbot
    default_backend nginx-http

backend haproxy-nl
    mode tcp
    server nl 10.10.10.1:8443 check send-proxy-v2 inter 5s fall 3 rise 2

backend nginx-ssl
    mode tcp
    server nginx nginx:8443 check inter 2s fall 3 rise 2

backend nginx-http
    mode http
    server nginx-http nginx:80 check

backend certbot-backend
    mode http
    server nginx-http nginx:80 check

frontend stats
    mode http
    bind :8404
    http-request use-service prometheus-exporter if { path /metrics }
    stats enable
    stats uri /stats
    stats refresh 10s
