global
    log stdout format raw local0 debug
    maxconn 10000
    user haproxy
    group haproxy
    nbthread 2
    tune.ssl.default-dh-param 2048
    tune.bufsize 65536
    tune.maxrewrite 32768
    tune.ssl.cachesize 50000

defaults
    log global
    option tcplog
    option dontlognull
    option redispatch
    retries 3
    timeout connect 2s
    timeout client 10s
    timeout server 10s
    timeout http-keep-alive 10s
    timeout queue 5s
    balance leastconn

# Фронтенд для HTTPS
frontend https-in
    mode tcp
    bind :443

    tcp-request inspect-delay 1s
    tcp-request content accept if { req_ssl_hello_type 1 }

    acl sni_petrovich req_ssl_sni -i petrovich.ru
    acl sni_vss_met req_ssl_sni -i vss-met.ru
    acl sni_okno req_ssl_sni -i okno.ru
    acl sni_space_site req_ssl_sni -i space.beatvault.ru
    acl sni_beatvault req_ssl_sni -i beatvault.ru
    acl sni_site req_ssl_sni -i www.beatvault.ru

    use_backend nginx-ssl if sni_space_site
    use_backend nginx-ssl if sni_site
    use_backend telemt-node1 if sni_petrovich
    use_backend telemt-node2 if sni_vss_met
    use_backend telemt-node3 if sni_okno
    use_backend telemt-node4 if sni_beatvault

    default_backend nginx-ssl

frontend http-in
    mode http
    bind :80

    acl is_certbot path_beg /.well-known/acme-challenge/
    use_backend certbot-backend if is_certbot
    default_backend nginx-http

backend node1
    mode tcp
    server xray 172.17.0.1:10001 check

backend node2
    mode tcp
    server xray 172.17.0.1:10002 check

backend node3
    mode tcp
    server xray 172.17.0.1:10003 check

backend node4
    mode tcp
    server xray 172.17.0.1:10004 check

backend nginx-ssl
    mode tcp
    server nginx nginx:8443 check inter 2s fall 3 rise 2

backend certbot-backend
    mode http
    server nginx-http nginx:80 check

backend nginx-http
    mode http
    server nginx-http nginx:80 check inter 2s fall 3 rise 2

frontend stats
    mode http
    bind :8404
    http-request use-service prometheus-exporter if { path /metrics }
    stats enable
    stats uri /stats
    stats refresh 10s
